<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>Playground</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="../build/uzi.js"></script>
  <script src="../build/uzi.parser.js"></script>

  <style>

    #origin {
      background-color: black;
      border-radius: 30px;
    }

    .sub_block {
      background-color: red;
      border-radius: 5px;
    }

  </style>

  <script type="text/uzi">

    $btn-rect-margin: 50px;

    ~btn-rect {
      bottom: viewport.bottom - btn-rect-margin;
      right:  viewport.right - btn-rect-margin;
      height: 50px;
      width:  200px;
    }

    #add-rect {
      align-y: btn-rect;
      width:   btn-rect.width / 2;
      left:    btn-rect.left;
    }

    #rm-rect {
      align-y: btn-rect;
      left:    add-rect.right;
      right:   btn-rect.right;
    }

    #origin {
      center-x: viewport.center-x + sin(y * -10) * 100px;
      center-y: viewport.center-y + cos(y * -10) * 100px;
      width:    100px;
      height:   100px;
    }

    .block {
      center-x: origin.center-x + sin(y * ($index + 1)) * 70px * x * ($index + 1);
      center-y: origin.center-y + cos(y * ($index + 1)) * 70px * x * ($index + 1);
    }

    .sub_block {
      width:    10px;
      height:   10px;
      center-x: parent.center-x + sin(y * ($index + 1)) * 70px * x * ($index + 1);
      center-y: parent.center-y + cos(y * ($index + 1)) * 70px * x * ($index + 1);
    }

  </script>

  <script>

    function makeOscillator() {

      var step = 0.01;
      var current = 0;
      var sign = 1;

      return function next() {
        var result = current + step * sign;
        if (result < 0 || 1 < result) {
          sign *= -1;
          return next();
        }
        return current = result;
      };
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    angular.module("App", ["uzi"]).controller("MainController", function ($scope, uzi) {

      window.uzi = uzi;

      $scope.min = Math.min.bind(Math);
      $scope.max = Math.max.bind(Math);
      $scope.sin = Math.sin.bind(Math);
      $scope.cos = Math.cos.bind(Math);
      $scope.rand = Math.random.bind(Math);

      var oscillator = makeOscillator();
      var counter = 0;

      $scope.x = oscillator();
      $scope.y = counter;

      setInterval(function () {
        counter += 0.01;
        $scope.x = oscillator();
        $scope.y = counter;
        $scope.$digest();
      }, 10);

      $scope.rects = [];

      $scope.addRect = function () {
        var color = getRandomColor();
        $scope.rects.push(color);
      };

      $scope.removeRect = function () {
        $scope.rects.pop();
      };

    });

  </script>

</head>
<body ng-app="App" ng-controller="MainController">

  <button uz-rect id="add-rect" ng-click="addRect()">Add Rect</button>
  <button uz-rect id="rm-rect" ng-click="removeRect()">Remove Rect</button>

  <div uz-rect id="origin"></div>
  <div uz-rect
    ng-repeat="r in rects"
    class="block"
    uz-style="width: max(20px, 50px * x); height: max(20px, 50px * x)"
    ng-style="{ 'background-color': r }">

    <div uz-rect 
      ng-repeat="r in rects" 
      class="sub_block"
      ng-style="{ 'background-color': r }">
    </div>

  </div>
</body>
</html>
